.page {
  margin-top: 64px;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

  .container {
    padding: 40px;
    width: 100%;
    height: 100%;
  }
}

.tab1 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  .ineer {
    display: flex;

    flex: 1;
    border: 1px solid black;
    margin: 30px;
    .img {
      background: #fff;
      border: 1px solid black;
      flex: 1;
      height: 100%;
      margin-right: 20px;
    }
    .text {
      background: #fff;
      flex: 3;
      border: 1px solid black;
    }
  }
}

.tab2 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px;
  .ineer {
    flex: 1;
    border: 1px solid black;
  }

  .mBox {
    background: #fff;
    border: 1px solid black;
    height: 180px;
    width: 70%;
  }
  .sBox {
    background: #fff;
    border: 1px solid black;
    height: 120px;
    width: 70%;
  }
}
