:root {
  --font-family: 'Noto Sans KR';
  width: 100%;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

html {
  font-size: 12px;
}

body {
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

//  default layout
#default-layout {
  height: 100vh;
}

//  header layout
#header.ant-layout-header {
  padding: 0;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}

.ant-layout-header {
  background-color: #ffffff;
}
.site-layout-content {
  height: 100%;
}

#header {
  // height: 80px;
  color: black;
}

#header .title {
  // margin-left: 30px;
}

#header .header-right {
  color: black;
  display: flex;
  font-size: 28px;
  padding-right: 30px;
}

#header .header-right > .icon {
  // border: 1px solid black;
  cursor: pointer;
}

#header .header-right > .icon:hover {
  transform: scale(1.05);
  transition: all 300ms ease;
}

#header .header-right > div {
  margin-left: 15px;
}
#header .header-right > div:nth-child(2) {
  // margin-left: 20px;
}

#default-layout .ant-layout-content {
  margin: 24px;

  background-color: #eff1ed;
}

.ant-layout {
  background-color: #eff1ed;
}

.ant-popconfirm-buttons {
  display: none;
}

// #header .ant-menu-item-selected {
//   font-weight: 800;
//   //
// }

#header .ant-menu-item-selected {
  font-weight: 800;
  // transition: 0.5s;
  // transition: all 300ms ease-in; //모든 속성을 1초동안 ease-in
  // transition: all 1s ease;
}

#carbonTab .ant-tabs-content.ant-tabs-content-left,
#carbonTab-panel-1,
#carbonTab-panel-2,
#reportTab .ant-tabs-content.ant-tabs-content-left,
#reportTab-panel-1,
#reportTab-panel-2,
#reportTab-panel-3,
#reportTab-panel-4,
#reportTab-panel-5 {
  height: 100%;
}

#reportTab {
  width: 100%;
}
