.page {
  height: 100%;
  display: grid;
  place-items: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .qrBox {
      width: 400px;
      height: 400px;
      background-color: white;
      border: 1px solid #d9d9d9;
      margin-bottom: 10px;
    }
    .buttons {
      width: 100%;
      display: flex;
      margin-bottom: 10px;
    }
    .input {
      width: 100%;
      height: 35px;
      margin-bottom: 10px;
    }
    .button {
      background-color: #587dca;
      font-weight: 600;
      font-size: 16px;
      width: 100%;
      height: 45px;
      .QrReader_button__qwwnl {
        width: 100%;
      }
    }

    .button:hover {
      color: #fff;
    }
  }
}
