.page {
  height: 100%;
  //   border: 1px solid black;
  width: 900px;
}

.container {
  //   border: 1px solid black;
  width: 100%;
  //   background: #444753;
  border-radius: 5px;
}

.chat {
  //   width: 490px;
  //   float: left;
  //   background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  //   color: #434651;

  .chatHistory {
    padding: 30px 30px 20px;
    height: 575px;

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 80%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #86bb71;
        border-width: 10px;
        margin-left: 0px;
      }
    }

    .myMessage {
      background: #86bb71;
    }

    .otherMessage {
      background: #94c2ed;

      //   &:after {
      //     position: absolute;
      //     border-bottom-color: #94c2ed;
      //     left: 90%;
      //   }

      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 80%;
      position: relative;

      &:after {
        bottom: 100%;
        right: 20px;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #94c2ed;
        border-width: 10px;
        margin-left: 0px;
      }
    }
  }

  .chatMessage {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font:
        14px/22px 'Lato',
        Arial,
        sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }

    .fa-file-o,
    .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
    }

    button {
      float: right;
      color: #94c2ed;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #f2f5f8;

      &:hover {
        color: darken(#94c2ed, 7%);
      }
    }
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86bb71;
}

.offline {
  color: #e38968;
}

.me {
  color: #94c2ed;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.floatRight {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
