.list {
  --sentColor: #4094de;
  --receiveColor: #e5e5ea;
  --bg: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;
  //   max-width: 450px;
  width: 800px;
  height: 800px;

  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.shared {
  font-size: 16px;
  font-weight: 500;
  position: relative; /* Setup a relative container for our psuedo elements */
  //   max-width: 255px;
  max-width: 400px;
  margin-bottom: 40px;
  padding: 15px 25px;
  line-height: 24px;
  word-wrap: break-word; /* Make sure the text wraps to multiple lines if long */
  border-radius: 25px;

  &:before {
    width: 20px;
  }

  &:after {
    width: 26px;
    background-color: #31437f;
    // background-color: var(--bg); /* All tails have the same bg cutout */
  }

  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    height: 25px; /* height of our bubble "tail" - should match the border-radius above */
    content: '';
  }
}

.sent {
  align-self: flex-end;
  color: white;
  background: #4094de;

  &:before {
    right: -7px;
    background-color: #4094de;
    border-bottom-left-radius: 16px 14px;
  }

  &:after {
    right: -26px;
    border-bottom-left-radius: 10px;
  }
}

.received {
  align-self: flex-start;
  color: black;
  background: #ffffff;

  &:before {
    left: -7px;
    background-color: #ffffff;
    border-bottom-right-radius: 16px 14px;
  }

  &:after {
    left: -26px;
    border-bottom-right-radius: 10px;
  }
}

.noTail {
  margin-bottom: 2px;

  &:before,
  &:after {
    opacity: 0;
  }
}
